body {
    font: 14px/1.8 Verdana, sans-serif;
}

h1 {
    font: 30px/1.5 'AudiTypeExtendedBold', Verdana, sans-serif;
}

h2 {
    font: 24px/1.5 'AudiTypeExtendedBold', Verdana, sans-serif;
}

h3 {
    font: 18px/1.5 'AudiTypeExtendedBold', Verdana, sans-serif;
}


.acpm-headline-overview {
    color: #b3b3b3;
}

text{
   font: 18px/1.5 'AudiTypeNormal',sans-serif;
}


/* generic module box */
.acpm-module {
    background: rgba(0,0,0, .05);
    box-sizing: border-box;
    margin-bottom: 30px;
}

.acpm-canvas {
    background: rgba(0,0,0, .05);
    min-height: 270px;
}

.acpm-chart {
    min-height: 370px;
    background: rgb(255,255,255);
}


h3.all-requests{
    font: 42px/1.5 'AudiTypeNormal', Verdana, sans-serif;
    color: #C03
    
}

h3.all-requests span{
    font: 24px/1.5 'AudiTypeNormal', Verdana, sans-serif;
    color: #404040
    
}

.chart-bar{
	height:20px;
	background-color: #ccc;
	display:block;
}

.clear{
	clear:both;
}
